<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
   -->


   <mat-horizontal-stepper>
    <mat-step label="Step 1" state="number">

    <div>
        <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">live_help</mat-icon>
                Invoice Details
        </ng-template>

        <div>
            <app-batch-or-single></app-batch-or-single>
        </div>
    </div>  
      <div>
        <button mat-button matStepperNext class="btn-success">Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 2" state="type">
      <div>
            <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">live_help</mat-icon>
                    Invoice Details
            </ng-template>
            <div>
                    <app-invoice-type></app-invoice-type>
            </div>
      </div>
      <div>
        <button mat-button matStepperPrevious class="btn-primary">Back</button>
        <button mat-button matStepperNext class="btn-success">Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 3" state="upload">
      <p>Upload PDFs</p>

        <input type="file" (change)="fileChangeEvent($event)" />

        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="false"
            [resizeToWidth]="128"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>    
        <button class="btn-success">Continue</button>
    </mat-step>
  
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="number">
      <mat-icon>add</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="type">
      <mat-icon>find_in_page</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="upload">
        <mat-icon>attachment</mat-icon>
      </ng-template>
  </mat-horizontal-stepper>